<div id="right"> 
<h3>Categories</h3>
<ul>
<li><a href="#">Politics</a></li> 
<li><a href="#">Fun and Sports</a></li> 
<li><a href="#">Daily News</a></li> 
<li><a href="#">Art and History</a></li>
</ul>
</div>

<div style="clear:both;"> </div>

