<h1>This is the apps Home page.</h1>

<!-- The right Panel section -->
<div class="rightpanel">
<div class="header">Recent Tutorials</div>	
<span class="divider" style="font-weight:bold;">Learn More<span>	
	<span class="divider"><a href="#">Tutorial 1</a> (Basic Theory)</span>
	<span class="divider"><a href="#">Tutorial 2</a> (Basic Theory )</span>

	
	
<div class="header">Recent Releases</div>
<div class="inquiry">
<span class="divider" style="font-weight:bold;">The Last 5 Newest Composition</span> 
<span class="divider"><a href="#">Viris delectus voluptatum</a> (467)</span>
<span class="divider"><a href="#">Has ne etiam epicuri</a> (1347)</span>
					 <span class="divider"><a href="#">Docendi honestatis eos ne</a> (608)</span> 
					 <span class="divider"><a href="#">Mel ex ullum probatus similique</a> (609)</span>
					 </div>

					 <div class="header">Literature 2 Music</div>
					 <div class="text">
						
		<strong>3031 Total Compositions</strong><br/><br />
		<strong>531 Members</strong><br /><br />
						

					 	<strong>Contact</strong><br /><br />
							E-mail: gabrielg1976@gmail.com<br />
							Twitter: Alphacore<br />
							Plurk:Alphacore<br />
					    <span class="divider">&nbsp;</span>
						<span class="divider"><strong>Share this Site</strong></span>
					
						</div> 

				</div>

			</div>