body {
	color:#333333;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0 auto;
	background: transparent url("img/bg.gif") center top no-repeat;
	background-color:#e4e4e4;
}

a, a:visited, a:link { color:#000000; text-decoration:underline; }

a:hover { color: #666666; }

h1 { font-size:18px; margin:0; color:#333333; border-bottom: 1px dashed #333333; }

h2 { font-size:12px; margin:0; color:#333333; border-bottom: 1px dashed #333333; border-top:1px dotted #333333; }

h1 a, h1 a:visited, h1 a:link { text-decoration:none; }

h2 a, h2 a:visited, h2 a:link { text-decoration:none; padding:10px; line-height:25px; }

h2 img { margin-right:5px; border:0; }

input {
	background-color: #fff;
	background-image:url("/images/input.gif");
	background-repeat: repeat-x;
	border:1px solid #b1df37;
	width:140px;
	padding:3px;
	margin-top:18px;
}

div.wrap1 {
	width: 858px;
	margin: 0 auto;
	overflow: hidden;
	border:1px solid #c3c3c3;
}

div.wrap1 .wrap2 {
	width: 856px;
	background-repeat:repeat-y;
	border: 1px solid #FFFFFF;
	margin: 0 auto;
	overflow: hidden;
}

div.wrap2 .logo {
	width:796px;
	height:61px;
	padding:0px;
	margin:0 auto;
	background-image: url("/images/logo.png");
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-size:22px;
	font-weight:bold;
	padding:30px;
}

div.logo .slogan {
	font-size:9px;
	font-weight:normal;
	margin-top:3px;
}

div.info, div.info1 {
	width:816px;
	line-height:40px;
	background-color:#FFFFFF;
	padding-left:20px;
	padding-right:20px;
	background-image:url(/images/info.gif);
	background-repeat:repeat-x;
}

div.info1 { 
	background-image:url(/images/info1.gif);
	float:left; 
	border-top:1px solid #fff; 
	background-color:#e4e4e4;
	color:#999;
}

div.info1 a, div.info1 a:link, div.info1 a:visited { color:#999; }

div.info1 a:hover { color: #666; }

div.wrap2 .leftpanel, div.wrap2 .rightpanel {
	width:200px;
	display: inline;
	float:left;
}

div.wrap2 .mainpanel {
	width:600px;
	float:left;
}

div.leftpanel .header, div.rightpanel .header {
	background-image:url(/images/header.png);
	background-repeat:no-repeat;
	width:180px;
	line-height:35px;
	padding-left:20px;
	color:#FFFFFF;
	overflow:hidden;
	font-weight:bold;
}

.text { padding:8px; text-align:justify; }
/* uplatnuje sa na left a right stlpec */
.text img { margin-right:10px; margin-bottom: 10px; border:0;  float:left; }

.text_ { padding:15px; text-align:justify; }
/* uplatnuje sa na hlavny stlpec */
.text_ img { vertical-align:middle; border:0; }

span.divider {
	border-bottom:1px dashed #333333; 
	padding-bottom:5px; 
	margin-bottom:5px; 
	display:block;
}

div.rightpanel .inquiry, div.leftpanel .inquiry {
	padding:8px; 
	text-align:justify;
}

.inquiry a, .inquiry a:link, .inquiry a:visited, .inquiry a:hover { text-decoration:none; }

-->

/* //////////////////////////// misc //////////////////////*/
code {
	background: #777777;
	display: block;
	font-size: 12px;
	margin: 0 10px 12px;
	overflow: auto;
	padding: 8px 10px;
	white-space: pre;
	font-style: italic;
	color: #000000;}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

