<h1>::: Artist Profile :::</h1>
<p>Artist Name:<p>
	
<%=link_to image_tag("IMGP2422.jpg",:width=>150)%>

<blockquote>
	http://www.literature2music.com/profile/<i>login</i>
	</blockquote>
	
<p>Info<p>
<p>Homepage:<p>
<p>Playlist:</p>
